.wrapperContainer {
  height: 80px;

  border-bottom: 1px solid #eee;
}
.container {
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;

  padding: 0 8px;

  display: flex;
  align-items: center;

  strong {
    font-size: 32px;
    font-weight: bold;
    color: #131319;
  }

  span {
    font-weight: bold;
    color: tomato;
  }
}
